
/wordpress/wp-content/uploads/

/wordpress/wp-content/themes/twentynineteen/
/wordpress/wp-content/themes/twentyseventeen/
/wordpress/wp-content/themes/twentytwenty/
/wordpress/wp-content/themes/twentytwentyone/
/wordpress/wp-content/themes/twentytwentytwo/
/wordpress/wp-content/themes/twentytwentythree/
/wordpress/wp-content/themes/twentytwentyfour/
/wordpress/wp-content/themes/twentytwentyfive/

/wordpress/wp-content/plugins/akismet/
/wordpress/wp-content/plugins/contact-form-7/
/wordpress/wp-content/plugins/woocommerce/
/wordpress/wp-content/plugins/woocommerce-payments/
/wordpress/wp-content/plugins/honeypot/
/wordpress/wp-content/plugins/wp-migrate-db/
